*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;

}
.navbar
{
    height: 55px;
    background-color: #222f3d;
    color: white;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}
.nav-logo
{
    height: 45px;
    width:124px;
}

.logo
{
    background: url("47b7bdac4285ee24654ca7d68cf06351.png");
    height:30px;
    width:100%;
}
.border
{
    height:50px;

    border:2px solid transparent;
}
.border:hover{
   
    border:2px solid white;
}


/* #box2 */
.add-first{
    color: #cccccc;
    font-size:0.85rem;
    margin-left: 18px;
    margin-top: 4px;
    margin-right: 4px;


}
.add-second
{
    font-size: 1rem;
    margin-left: 2px;
   
}
.add-item
{
    display: flex;
    align-items: center;
    margin-left: 7px;
}


/* #box3 */
.nav-search
{
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    background-color: #febd68;
    width: 800px;
    height: 40px;
    border-radius: 7px;
    margin-left: 8px;
}
.search-select
{
    background-color:#cbc2c2;
    height: 40px;
    text-align: center;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    width:50px;
    border: none;
}

.nav-search:hover
{
    border: 2px solid orange;
}
.search-input
{
    height: 38px;
    width:720px;
    border: none;
    font-size: 1rem;
}
.search-icon
{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#febd68;
    font-size:1.2rem;
}


/* #box4 */
.nav-second
{
    font-size: 0.9rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
span{
    font-size: 0.8rem;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* #box5 */
.nav-cart i
{
    margin-top: 4px;
    font-size:30px;
}
.nav-cart{
    
    font-size: 0.9rem;
    font-weight: 700px;
}


/* #panel */
.panel
{
    height: 40px;
    background-color:#141a20;
    display: flex;  
    color: white;
    align-items: center;/* vertically align  */
    justify-content: space-evenly; /* horizontally align  */
}
.panel-ops p
{
    display: inline;
    font-size: 0.8rem;
    font-weight: 200;
    margin-left: 15px;
   
}
.panel-ops
{
    width: 80%;
}

.panel-deals
{
    font-weight: 700;
    font-size: 0.9rem;
}


/* #hero-section */
.hero-section
{
    height: 400px;
    background: url("61GfWyQax7L._SX3000_.jpg");
    background-size: cover;/* image ko fit karne ke liye  */
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-message
{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    position: relative;
    margin-bottom: 25px;
}


.hero-message a
{
    color: #007185;
}



/* #shop-section */

.shop-section
{

    display: flex;
    justify-content: space-evenly;
    background-color: #cccccc;
}
.box
{
    /* border: 2px solid black; */
    height: 380px;
    width: 19%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-img
{
    margin-top:1rem ;
    height:300px;
    margin-bottom: 1rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.box-content
{
    margin-left:1rem;
    margin-right:1rem;
    
    
}
.box-content p{
    color: #007185;
}



.box-content
{
    margin-left:1rem;
    margin-right:1rem;
    
    
    
}
.box-content p{
    color: #007185;
}

.box-content1
{
    margin-left:1rem;
    margin-right:1rem;
    display: flex;
    gap: 1.2rem;
    margin-bottom: 20px;

}
.box-img1
{
    margin-top:1rem ;
    height:120px;
    width: 160px;
    margin-bottom: 1rem;
    background-repeat: no-repeat;

}
.box-img2
{
    margin-top:1rem ;
    height:120px;
    width: 160px;
    margin-bottom: 1rem;
    background-repeat: no-repeat;

}
.box-img3
{
    margin-top:1rem ;
    height:120px;
    width: 160px;
    margin-bottom: 1rem;
    background-repeat: no-repeat;

}
.box-img4
{
    margin-top:1rem ;
    height:120px;
    width: 160px;
    margin-bottom: 1rem;
    background-repeat: no-repeat;
}

.box-content h4
{
    position:relative;
    top: 120px;
}


/* footer  */

.footer
{
    margin-top: 1rem;
}
.foot-panel1
{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.foot-panel2
{
    background-color:#222f3d;
    color: white;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}
ul
{
    margin-top: 40px;
}
ul a{
    color: #dddddd;
    font-size: 0.8rem;
    margin-top: 10px;
    display: block;/* sab single line mei aa jayenge */
}


.foot-panel3
{
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.logo
{
    background: url("download1.png");
    height:50px;
    width:100px;
    background-repeat: no-repeat;
}

.foot-panel4
{
    background-color: #0f1111;
    color: white;
    height: 75px;
    font-size: 0.8rem;
    text-align: center;
}
.pages
{
    padding-top: 25px;
}
.copyright
{
    padding-top: 5px;
}